* {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Karla", sans-serif;
  background-color: hsl(204, 43%, 93%);
}
main {
  max-width: 50rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "first-row first-row"
    "second-row-sub1 second-row-sub2";
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.2);
}
main > div {
  padding: 2.5rem;
}
.first-row {
  grid-area: first-row;
  background-color: white;
}
.first-row p {
  color: hsl(218, 22%, 67%);
  max-width: 80%;
  line-height: 1.5rem;
}
.second-row-sub1 {
  grid-area: second-row-sub1;
  background-color: hsl(179, 62%, 43%);
  color: whitesmoke;
}
.price {
  display: flex;
  align-items: center;
}
.price-span-2 {
  color: hsl(203, 14%, 82%);
}
.price-span-1 {
  font-size: 2rem;
  font-weight: 700;
  margin-right: 1rem;
}
button {
  border: none;
  padding: 1rem;
  width: 100%;
  background-color: hsl(71, 73%, 54%);
  border-radius: 5px;
  box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.2);
  margin-top: 1rem;
  color: whitesmoke;
  font-weight: 700;
  font-size: 1rem;
}
.second-row-sub2 {
  grid-area: second-row-sub2;
  background-color: hsl(179, 52%, 53%);
}
.second-row-sub2 article {
  color: hsl(0, 2%, 90%);
  max-width: 70%;
  line-height: 1.5rem;
}
h1 {
  color: hsl(179, 62%, 43%);
  margin-top: 0;
}
h2 {
  color: hsl(71, 73%, 54%);
}
h3 {
  margin-top: 0;
  color: whitesmoke;
}
@media (max-width: 50rem) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "first-row"
      "second-row"
      "third-row";
    max-width: 20rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .first-row {
    grid-area: first-row;
  }
  .second-row-sub1 {
    grid-area: second-row;
  }
  .second-row-sub2 {
    grid-area: third-row;
  }
  main > div {
    padding: 1.5rem;
  }
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.1rem;
  }
  .first-row p {
    max-width: 100%;
    font-size: 1rem;
  }
  .second-row-sub2 article {
    max-width: 80%;
  }
}
